<div class="modal fade" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div>
      <div class="modal-content  ue_tanchukuang">
         <div class="modal-body" [ngSwitch]="length">
            <i><img src="images/tishi.png"></i>
            <template [ngSwitchWhen]="0">
               <span>请选择删除元素</span>
            </template>
            <template [ngSwitchWhen]= '-1'>
               <span>{{contents.warn}}</span>
            </template>
            <template ngSwitchDefault>
               <span>确认删除当前所选数据？</span>
            </template>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default queding" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary quxiao" (click)='onsubmit()'>确定</button>
         </div>
      </div><!-- /.modal-content -->
</div>
</div>
